//Generic flex structures
.container-rows {
  display: flex;
  flex-direction: row;
}

.container-cols {
  display: flex;
  flex-direction: column;
  // margin: $top $sides;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}
