.slice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $bottom;

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: ($bottom / 3);
    margin: 0px 0px;
}


  #black-line {
      height: 0.2px;
      opacity: 0.1;
      width: 100%;
      // margin-bottom: 3px;
      background-color: $black;
  }

  h1 {
    font-family: Helvetica, sans-serif;
    font-size: $h1;
    margin-bottom: ($bottom / 3);
  }

  h2 {
    font-family: Helvetica, sans-serif;
    font-size: $h2;
  }
}
  .slice-container-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
