.form-container {
  // padding: 30px 30px;
  // background: $offwhite;
  // max-width: 600px;
  // min-width: 400px;
  // border-radius: 5px;
  // align-self: center;

  #form-login {
    padding: 30px 30px;
    background: $offwhite;
    max-width: 600px;
    min-width: 400px;
    border-radius: 5px;
    align-self: center;
  }


  // #login {
  //   padding: 30px 30px;
  //   background: $offwhite !important;
  //   max-width: 600px;
  //   min-width: 400px;
  //   border-radius: 5px;
  //   align-self: center;
  // }

  h1 {
    text-size: 0.8em !important;
  }
}
