<h1>Conversations#index</h1>
<h1>Inbox</h1>
<ul>
  <% @conversations.each do |conversation| %>
    <li> <%= link_to conversation.recipient(current_user).username, conversation_private_messages_path(conversation) %>
      <% if !conversation.unread_private_message_count(current_user).zero? %>
        (<%= conversation.unread_private_message_count(current_user) %>)
      <% end %> </li>
  <% end %>
</ul>


<h2>Your Connections</h2>
<ul>
  <!-- // FILTERS CONNECTIONS VIA APPOINTMENTS; ONLY SHOWS ADVISORS YOU HAVE AN APPOINTMENT WITH AS A CONNECTION -->
  <% if @current_user.user_type == "user" %>
        <% @appointments.each do |appointment| %>
<!--             <div class="dashboard-row">
              <div class="dashboard-appointment-container"> -->
                <% @users.each do |user| %>
                  <% if Service.find(appointment.service_id).user.id == user.id %>
                    <li><%= link_to user.first_name + ' ' + user.last_name, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
                <% end %>
<!--               </div>
            </div> -->
        <% end %>
      <% end %>

   <% else %>
    <% end %>
<!-- // FILTERS CONNECTIONS VIA APPOINTMENTS; ONLY SHOWS USERS THAT BOOKED AN APPOINTMENT WITH YOU AS A CONNECTION -->
  <% if @current_user.user_type == "advisor" %>
   <% @appointments.each do |appointment| %>
            <div class="dashboard-row">
              <div class="dashboard-appointment-container">
                <% @users.each do |user| %>
                  <% if User.find(appointment.user_id).id == user.id %>
                    <li><%= link_to user.first_name, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>

</ul>
