edit.html.erb
<div class="form-inputs">
<!-- if statement needed to find out if user already set their path -->
<!--   <#%= f.input :user_type,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "Pick " }%>
  <#%= f.input :user_path,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "Pick your path" }%>
</div> -->
<div class="form-actions">
  <#%= f.button :submit, "Update" %>
</div>
