
<p><strong>User Type:</strong> <%= current_user.user_type%></p>
<p><strong>User Path:</strong> <%= current_user.path_type%></p>
<%= link_to 'See your path', services_path(current_user, query: current_user.path_type) %>
