.navbar-lewagon {
  justify-content: space-between;
  background: $offwhite;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 10px;
}

.nav-item {
  margin: 0px 14px;
  position: relative;
}

#notifications-count {
  position: absolute;
  top: 7px;
  left: 73px;
  color: $white;
  background-color: $red;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  justify-content: center;
  text-align: center;
  font-size: 8px;

}
