  <div class="slice-container">
    <!-- HEADER  -->
    <h2>What people are saying about services at Canaduh</h2>
    <p><i class="fas fa-ribbon" style="color: red; font-size: 21px;"></i> Canaduh services were rated <strong>4.7 out of 5 stars</strong> with <strong>3,000+ reviews</strong></p>
    <!-- REVIEW CARDS -->
    <div class="row">
      <div class="card-review">
        <img src=<%= image_path 'John_Doe_advisor.jpg' %>>
        <h1>John Doe</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"Completely surpassed our expectations."</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Trevor_McGill_advisor.jpg' %>>
        <h1>Trevor McGill</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"He impressed me on so many levels."</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Lisa_Goodwill_advisor.jpg' %>>
        <h1>Lisa Goodwill</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"The advisor was extremely helpful!"</p>
      </div>
      <div class="card-review">
        <img src=<%= image_path 'Alice_Fraser_advisor.jpg' %>>
        <h1>Alice Fraser</h1>
        <p id="rating-stars"><% 5.times do %><i class="fas fa-star"></i><% end %>
        <p>"Just what I was looking for. She's is the real deal."</p>
      </div>
    </div>
  </div>
