  <div class="slice-container">
    <h2>Browse services by path</h2>
    <div class="row">
      <a class="card-path" href="/services.15?query=student+visa&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'student-visa-path.jpg' %>)">
        <hr>
        <h1>STUDENT VISA</h1>
      </a>
      <a class="card-path" href="/services.15?query=work+visa&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'work-visa-path.jpg' %>)">
        <hr>
        <h1>WORK VISA</h1>
      </a>
      <a class="card-path" href="/services.15?query=permanent+residency&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'permanent-residency-path.jpg' %>)">
        <hr>
        <h1>PERMANENT RESIDENCY</h1>
      </a>
      <a class="card-path" href="/services.15?query=canadian+citizenship&commit=Search" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path 'citizenship-path.jpg' %>)">
        <hr>
        <h1>CANADIAN CITIZENSHIP</h1>
      </a>
    </div>
  </div>
