  <div class="slice-container">
    <h2>Immigration with Canaduh</h2>
    <hr id="black-line">
    <div class="value-container">
      <div class="row">
        <div class="value-card">
          <i class="fas fa-tasks" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Plan smarter</strong></p>
          <p>Stay on track with a task manager and path planner. Personalized task recommendations guide the way to success.</p>
        </div>
        <div class="value-card">
          <i class="fas fa-users" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Support community</strong></p>
          <p>Find companionship on your path by connecting with people that share your journey.</p>
        </div>
        <div class="value-card">
          <i class="fas fa-award" style="color: red; font-size: 36px;"></i>
          <br>
          <p><strong>Expert advisors</strong></p>
          <p>Get immigration services from qualified professionals. Book an appointment directly onsite to discuss the most suitable path for your entry to Canada.</p>
        </div>
      </div>
    </div>
    <hr id="black-line">
  </div>
