.card-inline-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 16px;
  margin-bottom: 8px;
  background: $white;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  .avatar {
    margin-right: 20px;
    align-self: center;
  }

  .appointment-details {
    display: flex;
    flex-direction: column;
    min-width: 200px;

    #appointment-type {
    }

    #advisor-name {

    }
  }

  .appointment-schedule {
    display: flex;
    flex-direction: row;
    align-items: center;

    #appointment-date {
      margin-right: 20px;
    }
  }

  i {
      color: $red;
    }
}
