.value-card {
  display:flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  width: 360px;
}

.value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
