.profile-card-image {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 500px;
  height: 320px;
  background: #f9fafb;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.profile-card-image > img {
  width: 240px;
  height: 240px;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: white;
  border: white 1px solid;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 480px;
  height: auto;
  padding: 10px;
}
