.card-unreadmessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 0px 16px;
  margin-bottom: 8px;
  background: $white;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  .avatar {
    margin-right: 20px;
  }

  .message-details {
    display: flex;
    flex-direction: column;

    .col {

    }

    #recipient-name {
      font-weight: bold;
    }


    #message-preview {
      color: $black;
    }

    #new-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 30px;
    height: 15px;
    background: $red;
    color: $white;
    font-size: 0.1em;
    margin-left: 5px;
    border-radius: 2px;
    }

    #message-count {

    }
  }
}
