.value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .value-card {
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
    width: 360px;
  }
}


