.card-connection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  padding: 0px 16px;
  margin-bottom: 8px;
  background: $white;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  .avatar {
    margin-right: 8px;
    align-self: center;
  }

  .connection-details {
    display: flex;
    flex-direction: column;

    .row {
      justify-content: flex-start;
    }

    #recipient-name {
      font-weight: bold;
      color: $black;
    }

    #last-message {
      color: $black;
    }
  }
}
