.value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .row {
    display: flex !important;
    justify-content: space-between !important;
  }

  .value-card {
    display:flex;
    flex-direction: column;
    padding-top: 15px;
    padding-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 33%;
  }
}


