<%= render 'shared/navbar' %>
<div class="wrapper">
  <!-- HOMEPAGE BANNER WITH BUTTON -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/p-m-b/image/upload/v1582387301/canaduh/banner_dyx0ad.png);">
    <div class="banner-container">
      <h1><strong>WELCOME TO CANADUH</h1>
    </div>
  </div>
</div>
