.btn-banner {
  color: #f9fafb;
  border: 1px solid #f9fafb;
  padding: 8px 14px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 0.9;
    color: #f9fafb;
  }
}
