.btn-filter {
  color: $black;
  padding: 6px 8px;
  border: 1px solid $black;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-decoration: none;

  &:hover {
  color: $offwhite;
  background: $black;
  }
}
