.btn-cta {
  color: $white;
  background: $red;
  border: 1px solid $red;
  max-width: 115px;
  max-height: 48px;
  padding: 8px 14px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.1s ease;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: $white;
  }
}

.btn-cta-border {
  color: $red;
  background: $white;
  border: 1px solid $red;
  max-width: 115px;
  max-height: 48px;
  padding: 8px 14px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.1s ease;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: $white;
    background: $red;
  }
}



.btn-cta-outline {
  color: $white;
  border: 1px solid $white;
  max-width: 115px;
  max-height: 48px;
  padding: 8px 14px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.1s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    color: $white;
  }
}
