.banner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin: 0px $sides $bottom;
  color: $offwhite;

    h1 {
      max-width: 66%;
      margin-bottom: $bottom;
      font-size: $jumbo;
      font-weight: bold;
      text-shadow: $dropshadow;
    }
}

  .search-field {
      width: 350px;
      color: $black;
      border: 1px solid #f9fafb;
      padding: 8px 24px;
      border-radius: 5px;
      opacity: 1;
  }
