.btn-banner {
  color: #f9fafb;
  border: 1px solid #f9fafb;
  padding: 8px 14px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-banner:hover {
  opacity: 0.9;
  color: #f9fafb;
}

.btn-light-ghost {
  color: #f9fafb;
  border: 1px solid #f9fafb;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.1s ease;
}

.btn-light-ghost:hover {
  opacity: 1;
  color: #f9fafb;
}

.btn-dark-ghost {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.1s ease;
}

.btn-dark-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: #f9fafb;
  padding: 8px 24px;
  border-radius: 4px;
  background: #fd1237;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #fd1237;
  color: #f9fafb;
}

.btn-gradient {
  color: #f9fafb;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: #f9fafb;
}
