.btn-banner {
  color: #f9fafb;
  border: 1px solid #f9fafb;
  padding: 8px 14px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 0.9;
    color: #f9fafb;
  }
}

.btn-cta {
  color: $red;
  border: 1px solid $red;
  max-width: 120px;
  max-height: 48px;
  padding: 8px 14px;
  border-radius: 5px;
  opacity: 0.9;
  transition: opacity 0.1s ease;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}


.btn-cta-outline {
  color: $offwhite;
  border: 1px solid $offwhite;
  max-width: 120px;
  max-height: 48px;
  padding: 8px 14px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.1s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    color: $offwhite;
  }
}


.btn-connect {
  color: $red;
  padding: 8px 24px;
  border-radius: 4px;
  background: #fd1237;
  transition: $transition;
}


.btn-light-ghost {
  color: #f9fafb;
  border: 1px solid #f9fafb;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 1;
    color: #f9fafb;
  }
}

.btn-dark-ghost {
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.1s ease;

  &:hover {
    opacity: 1;
  }
}

.btn-flat {
  color: #f9fafb;
  padding: 8px 24px;
  border-radius: 4px;
  background: #fd1237;
  transition: background 0.3s ease;

  &:hover {
    background: #fd1237;
    color: #f9fafb;
  }
}

.btn-gradient {
  color: #f9fafb;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;

  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: #f9fafb;
  }
}

.btn-availability {
  color: $offwhite;
  padding: 10px 10px;
  margin-left: 5px;
  border-radius: ($border-radius / 2);
  background: $red;
  transition: $transition;
  text-decoration: none;
  opacity: 1;

  &:hover {
  opacity: 0.9;
  color: $offwhite;
  }
  a {
    color: $offwhite;
  }
}


.btn-filter {
  color: $black;
  padding: 6px 8px;
  border: 1px solid $black;
  margin-right: 5px;
  border-radius: 20px;
  text-decoration: none;

  &:hover {
  color: $offwhite;
  background: $black;
  }
}
