// ADVISOR CARDS ON HOMEPAGE
.card-advisor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $longcard;
  width: 240px;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

    &:hover {
      opacity: 1;
    }

    img {
      align-self: center;
      object-fit: cover;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      box-shadow: $dropshadow;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    h1 {
      margin-left: 15px;
      color: $black;
      font-size: $h4;
    }

    p {
      margin-left: 15px;
      color: $black;
      font-size: $p;
    }

    button {
      max-width: 100px;
      display: flex;
      justify-content: center;
      margin-left: 15px;
    }
}

// HOMEPAGE REVIEW CARDS
.card-review {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  height: $longcard;
  width: 240px;
  // border-radius: 5px;
  // box-shadow: $dropshadow;

    img {
      // align-self: center;
      object-fit: cover;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      margin-bottom: 4px;
    }

    h1 {
      // margin-left: 15px;
      color: $black;
      font-size: $h4 !important;
      margin-bottom: 4px !important;
    }
    #rating-stars {
      font-size: 12px !important;
      margin: 0px !important;
      padding: 0px !important;
    }
}


// PATH CARDS ON HOMEPAGE
.card-path {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: left;
  align-items: top;
  background-size: cover;
  background-position: center;
  height: $longcard;
  width: 240px;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

    &:hover {
      opacity: 1;
    }

    hr {
      height: 4px;
      width: 70%;
      margin-left: 10px;
      margin-bottom: 3px;
      background-color: $offwhite;
    }

    h1 {
      padding-left: 10px;
      max-width: 40px;
      font-size: $h4 !important;
      font-weight: bold;
      color: $offwhite;
      text-shadow: $dropshadow;
    }
}


// SERVICE CARDS ON HOME PAGE SERVICES
.card-service {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: left;
  align-items: top;
  background-size: cover;
  height: 270px;
  width: 330px;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

    &:hover {
      opacity: 1;
    }

    hr {
      height: 4px;
      width: 70%;
      margin-left: 10px;
      margin-bottom: 3px;
      background-color: $offwhite;
    }

    h1 {
      max-width: 40px;
      padding-left: 10px;
      font-size: $h4;
      font-weight: bold;
      color: $offwhite;
      text-shadow: $dropshadow;
    }
}

// SERVICE CARDS ON SERVICES
.service-result-card {
  display: flex;
  border-radius: $border-radius;
  opacity: 0.9;
  transition: $transition;
  margin-bottom: ($bottom / 4);

  &:hover {
    opacity: 1;
  }
}

.service-result-card-image {
  display: flex;
  justify-content: center;
  border-radius: $border-radius;
  width: 500px;
  height: $longcard;
  background: $offwhite;
  box-shadow: $dropshadow;

  img {
    width: 240px;
    height: 240px;
    align-self: center;
    border-radius: 50%;
    box-shadow: $dropshadow;
    border: white 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.service-result-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 840px;
  height: $longcard;
  padding: 10px;
}

.service-result-card-row {
  display: flex;
  flex-direction: row;

  h2 {
    font-size: $h2;
  }
}

.service-result-card-feature-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 25px;
  background: $red;
  color: $offwhite;
  font-size: 0.8em;
  margin-right: 5px;
  border-radius: 2px;
}

.service-result-card-price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

// .btn-availability {
//   color: $offwhite;
//   padding: 10px 10px;
//   margin-left: 5px;
//   border-radius: ($border-radius / 2);
//   background: $red;
//   transition: $transition;
//   text-decoration: none;
//   opacity: 1;

//   &::hover {
//   opacity: 0.9;
//   }
//   a {
//     color: $offwhite;
//   }
// }


.review-card {
  display:flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f9fafb;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.review-title {
  font-size: 21px;
  font-weight: 800;
}

.review-card-row {
  display: flex;
  flex-direction: row;
}

.review-card-image {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.review-card-image > img {
  width: 120px;
  height: 120px;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-top: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

.review-card-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#rating-stars {
  margin-left: 5px;
  color: $red;
}







.planner-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;

  h1 {
    align-items: flex-start;
    font-size: $h2;
  }
}

.task-container {
  display:flex;
  flex-direction: column;
  width: 90vw;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  background: #f9fafb;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  &:hover {
    opacity: 1;
  }

  h1 {
    font-size: $h4;
  }

  h2 {
   font-size: 1em;
  }

}

#task-status {
  width: 290px;
  padding:10px 10px;
  color: #offwhite;
  background-color: $red;
  border-radius: 4px;
}

.task-actions {
  display: flex;
  flex-direction: row;
}

.btn-task {
  width: 140px;
  margin-right: 10px;
  padding: 10px 10px;
  border: solid 1px black;
  border-radius: 4px;
  transition: $transition;
  text-decoration: none;
  opacity: 1;

  &:hover {
    color: $offwhite;
    // padding: 10px 10px;
    // margin-right: 10px;
    // border-radius: 4px;
    border: 1px solid $red;
    background: $red;
    transition: $transition;
    // text-decoration: none;
    opacity: 1;
  }

  &:hover > a {
      color: $offwhite;
  }
}


.value-card {
  display:flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  width: 360px;
}
