.card-advisor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $longcard;
  width: 240px;
  border-radius: $cardradius;
  box-shadow: $dropshadow;
  opacity: 0.9;
  transition: $transition;

  &:hover {
    opacity: 1;
  }

  img {
    align-self: center;
    object-fit: cover;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: $dropshadow;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h1 {
    margin-left: 15px;
    color: $black;
    font-size: $h4;
  }

  p {
    margin-left: 15px;
    color: $black;
    font-size: $p;
  }

  button {
    max-width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
  }
}

// .card-advisor > i {
//   margin-left: 15px;
//   font-size: 10px;
//   color: #fd1237;
// }
