.card-path {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 240px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: left;
  align-items: top;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.card-path:hover {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-path > hr {
  width: 70%;
  height: 4px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-color: #f9fafb;
}

.card-path > h1 {
  padding-left: 10px;
  max-width: 40px;
  font-size: 1.2em;
  font-weight: bold;
  color: #f9fafb;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
