.wrapper-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $default;
}

  .fullwidth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    min-height: 50vh;
    margin-bottom: $bottom;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    background: $white;
    margin: $top $sides;
  }

    .slice-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 40vh;
      margin-bottom: $bottom;

      h1 {
        font-family: Helvetica, sans-serif;
        font-size: $h1;
        margin-bottom: ($bottom / 3);
      }

      h2 {
        font-family: Helvetica, sans-serif;
        font-size: $h2;
      }
  }

      .dashboard-appointment-container {
        display:flex;
        flex-direction: column;
        padding: 10px;
        // width: 90vw;
        margin-bottom: $bottom;
        border-radius: $border-radius;
        background: $offwhite;
        box-shadow: $dropshadow;
        // opacity: 0.9;
        transition: $transition;

        // &:hover {
        //     opacity: 1;
        // }

        h1 {
          font-size: $h2;
        }

        h2 {
          font-size: $h4;
        }
      }
