.footer {
  display: flex;
  flex-direction: row;
  background-size: cover;
  margin-top: 40px;
  padding: 40px $sides 0px;
  background: $black;
  color: $offwhite;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  text-decoration: none;

  h1 {
    font-size: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    text-decoration: none;
    font-size: 1em;
    list-style: none;
    color: $white;
  }
}

.footer-link {
color: $white !important;

  a {
    color: #f9fafb !important;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
}



