.service-result-card {
  display: flex;
  border-radius: $border-radius;
  opacity: 0.9;
  transition: $transition;
  margin-bottom: ($bottom / 4);

  &:hover {
    opacity: 1;
  }
}

.service-result-card-image {
  display: flex;
  justify-content: center;
  border-radius: $border-radius;
  width: 500px;
  height: $longcard;
  background: $offwhite;
  box-shadow: $dropshadow;

  img {
    width: 240px;
    height: 240px;
    align-self: center;
    border-radius: 50%;
    box-shadow: $dropshadow;
    border: white 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.service-result-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 840px;
  height: $longcard;
  padding: 10px;
}

.service-result-card-row {
  display: flex;
  flex-direction: row;

  h2 {
    font-size: $h2;
  }
}

.service-result-card-feature-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 25px;
  background: $red;
  color: $offwhite;
  font-size: 0.8em;
  margin-right: 5px;
  border-radius: 2px;
}

.service-result-card-price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.btn-availability {
  color: $offwhite;
  padding: 10px 10px;
  margin-left: 5px;
  border-radius: ($border-radius / 2);
  background: $red;
  transition: $transition;
  text-decoration: none;
  opacity: 1;

  &::hover {
  opacity: 0.9;
  }
  a {
    color: $offwhite;
  }
}
