.slice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
}

.slice-container > h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.8em;
  margin-left: 10px;
}

.slice-container > h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
}

#card-row-sub-link {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

#card-row-sub-link > i {
  margin-left: 3px;
}
