// // External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// // Your CSS partials
@import "config/index";
@import "components/index";
@import "pages/index";








// .link {
//   text-decoration: none !important;
// }

body {
  background-color: $offwhite;
}



a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}
