<%= render 'shared/advisor_navbar' %>
<div class="wrapper">
  <div class="main">
    <div class="slice-container">
      <h1>Add a new task to the list</h1>
      <%= render 'form', ride: @ride %>
    </div>
  </div>
</div>
