.form-onboarding {
  padding: 30px 30px;
  background: $offwhite;
  max-width: 400px;
  border-radius: 5px;

  h1 {
    max-width: 80vw !important;
    color: $black;
    text-shadow: none !important;
    opacity: 0.8px !important;
  }

  h2 {
    font-size: 18px;
    color: $black;
  }

  .form-control {
    border: 1px solid #DEDEDE;
    margin-bottom: $bottom/2;
    max-width: 240px;
    border-radius: 1px;
    border-opacity: 0.8;
  }

  &:focus {
    box-shadow: none;
  }
}
